.btn-addCart.ant-btn {
  background-color: rgba(24, 96, 143, 0.9) !important;
  border-color: rgba(24, 96, 143, 0.9) !important;
  color: white !important;
  width: 50% !important;
  border-radius: 50px !important;
  padding: 12px !important;
}
.btn-addCart.ant-btn:hover {
  background-color: white !important;
  border-color: rgba(24, 96, 143, 0.9);
  color: rgba(24, 96, 143, 0.9) !important;
}
.img {
  transition: transform 0.3s ease;

  object-fit: fill;
}
.img:hover {
  cursor: pointer;
}
.imgSmall {
  transition: transform 0.3s ease;
  border-radius: 12px;
  display: block;
}
.imgSmall:hover {
  transform: scale(1.5);
  border-radius: 12px;
}
.btn {
  border-color: white;
}
.btn:hover {
  border-color: rgba(24, 96, 143, 0.9);
}
.btn-size {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 96, 143, 0.9);
  color: #ffffff;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn-size:hover {
  background-color: rgba(24, 96, 143, 1);
  transform: scale(1.05);
}
.btn-size:active {
  transform: scale(0.95);
}
.btn-size.active {
  background-color: rgba(24, 96, 143, 1);
  border: 2px solid #fff;
}
.price {
  color: red;
  font-size: 32px;
  padding: 24px 0;
}
.magnifier {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-size: 1200px 1800px;
  background-repeat: no-repeat;
  z-index: 10;
  pointer-events: none;
  transform-origin: center center;
}
